.tag-container {
    display: flex;
    align-items: start;
    margin-bottom: 10px;
}

.tag-container input {
    flex: 1;
    padding: 5px;
}

.tag-list {
    display: flex;
    flex-wrap: wrap;
}

.tag {
    background-color: #9d9d9d;
    color: #fff;
    padding: 4px 10px;
    margin: 5px 4px 0px 0px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.tag .remove-tag {
    margin-left: 5px;
    cursor: pointer;
    font-size: 0.8rem
}

.autocomplete {
    position: absolute;
    z-index: 999;
    max-height: 150px;
    overflow-y: auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 35px;
}

.placeholder {
  height: 400px;
  padding: 50px;
}

.bar {
  height: 50px;
  color: white;
  margin-bottom: 10px;
}


.bar-item {
    width: 150px;
    background: #00A1FF;
    font-style:inherit;
    opacity: 1;
    -webkit-transition: width 1s ease-in;
    transition: width 1s ease-in;
  }

.bar span {
  top: 15px;
  left: 30px;
  position: relative;
}


