{% extends 'tree_menu/base.html' %}
{% load menu_tags %}
{% load static %}


{% block content %}

<div class="row g-0">
    <div class="col-2">{% draw_menu 'news' request %}</div>
    <div class="col">
        <header class="masthead text-center">
            <div class="masthead-content">
                <div class="container px-5">
                    <h1 class="masthead-heading mb-1 mt-2">NEWS STARISTIC</h1>
                    <h2 class="masthead-subheading mb-5">Выберете пораметр сортировки посмторите статистику диаграму по ней.</h2>
                    <select id="select" class="form-select mb-5" aria-label="Default select">
                        <option value="views" selected="">По числу просмотров</option>
                        <option value="likes">По кол-ву лайков</option>
                        <option value="dislikes">По кол-ву дизлайков</option>
                     </select>
                    <div id="news-statistics">
                        <div id="diagram" class="diagram text-start">
                          </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
</div>

<script type="module" src="{% static 'news/js/news-statistics.js' %}"></script>

{% endblock %}