

{% for item in items %}
<div class="card bg-light text-start mb-3">
   <div class="row g-0">
       {% if item.img %}
      <div class="col-4 col-sm-3">
        <img src="{{ item.img.url }}"  width="250" height="150" class="img-fluid" alt="card-horizontal-image">
      </div>
       {% endif %}
       
      <div class="col-7 col-sm-8">
        <div class="card-body">
           <h5 class="card-title">{{ item.title }}</h5>
           <p class="card-text">Автор: {{ item.user }}</p>
           <p class="card-text"> </p>
           <p class="card-text"><small class="text-muted">{{ item.create_at }} | Тег: {{ item.tag }}</small></p>
        </div>
      </div>
   </div>
</div>
{% endfor %}